<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue: Simple ToDo List</title>
    <link rel="stylesheet" href="./style.css">
    <!-- Vue (CDN) -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>ToDo List</h1>

        <input placeholder="Sua tarefa aqui:" v-model="text" @keyup.esc="onClearTask">

        <button :disabled="!text || !isNaN(text)" @click="onAddTask">Adicionar</button>

        <div class="result">
            <ul v-for="item in tasks">
                <li>{{ item }}</li>
            </ul>
        </div>
    </div>

    <script src="./script.js"></script>
</body>

</html>